<h1 style="margin-left: 10px;">Editar lista</h1>

<%= render "form", tag: @tag %>

<br>

<div style="margin-left: 10px;">
  <%= link_to "Voltar", @tag %> |
  <%= link_to "Listas", tags_path %>
</div>
